@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.MuiDrawer-paper {
  min-width: 200px;
  width: 200px !important;
}

/* App.css */
.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.Content {
    flex: 1;
    overflow: auto;  /* Adjust this value to match the header height */
}

.back-to-top {
    display: flex;
    position: fixed;
    z-index: 999;
    bottom: 2rem;
    right: 2rem;
    width: 60px;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .back-to-top:hover {
    background-color: #0056b3;
  }