/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* font-family: "Roboto", sans-serif; */
}

.MuiDrawer-paper {
  min-width: 200px;
  width: 200px !important;
}

/* App.css */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.Content {
  flex: 1;
  overflow: auto; /* Adjust this value to match the header height */
}

.back-to-top {
    display: flex;
    position: fixed;
    z-index: 999;
    bottom: 2rem;
    right: 2rem;
    width: 60px;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .back-to-top:hover {
    background-color: #0056b3;
  }

    .scrollbar-container {
      background: rgb(244, 244, 244) !important;
    }

    .pagination-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px; /* Add some space at the top */
    }
    
    .page-number {
      margin: 0 20px; /* Add some space between the page number and buttons */
    }

.back-to-top:hover {
  background-color: #0056b3;
}

.scrollbar-container {
  background: rgb(244, 244, 244) !important;
}

.git-link {
  text-decoration: none;
  font-weight: 500;
  color: #007bff;
}

.git-link:hover {
  color: #0056b3;
}

.app-logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app-logo {
  height: 60px;
  padding-inline: 10px;
  margin-block: 10px;
}

.header header {
  background-color: #272727 !important;
}